#!name=XPTV Sources
#!desc=Format video data into CMS api structure

[rewrite_local]
^https:\/\/tencent-1257389134\.cos\.ap-nanjing\.myqcloud\.com\.qqhd\.net\/fangdao\.php url response-header (\r\n)Content-Type:.*(\r\n) response-header $1Content-Type: application/vnd.apple.mpegURL$2

https?:\/\/ykusu\.ykusu\/(.*)\/provide\/vod url script-request-header https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/spider.js
https?:\/\/ykusu\.ykusu\/getJSON\/(.*).json url script-request-header https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/spider.js

api\.emasmr\.com.*mp4 url script-request-header https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/xptv-misc.js
ppvod01\.blbtgg\.com.*(ts|m3u8) url script-request-header https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/xptv-misc.js
https?:\/\/hd\.suxun\.site\/api\.php\/provide\/vod(.*)&ids url script-response-body https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/xptv-misc.js
https?:\/\/vipcj\.timizy\.top\/api\.php\/provide\/vod\/from\/mgtv(.*)&ids url script-response-body https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/xptv-misc.js
https?:\/\/dsakf23665\.com\/api\.php\/provide\/vod(.*)&ids url script-response-body https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/xptv-misc.js
https:\/\/42\.157\.129\.29:2222\/.*\.png url script-response-body https://raw.githubusercontent.com/Yswag/for-own-use/main/XPTV/spider/xptv-misc.js

[mitm]
hostname = ykusu.ykusu, tencent-1257389134.cos.ap-nanjing.myqcloud.com.qqhd.net, api.emasmr.com, ppvod01.blbtgg.com, vipcj.timizy.top, 42.157.129.29:2222